<!DOCTYPE html>
<html>
<head>
  <title>WCBN-FM <%= content_for?(:title) ? " — " + content_for(:title): "" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- <script defer src="https://use.fontawesome.com/releases/v4.7.0/js/all.js"></script> -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:notice] %>
    <div class="floating-notice">
      <p><%= flash[:notice] %></p>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="floating-alert">
      <p><%= flash[:alert] %></p>
    </div>
  <% end %>


<header>
  
  <nav id="dj-nav<%= '-signed-in' if dj_signed_in? %>" <%="class=fixed" if on_fm_computer? %>>
    <% if current_dj %>
      <% if current_dj.has_role?(:superuser) %>
        <%= raw "#{link_to("Roster", djs_path)}" %>
      <% else %>
        <%= raw "#{link_to("Phone List", djs_path(format: :pdf))}"%>
      <% end %>
      <%= raw "#{link_to("Trainees", trainees_path)}" if current_dj.can_read? Trainee %>
      <%= link_to "Sub Board", sub_requests_path %>
      <%= link_to current_dj.name, current_dj %>
      <%= link_to "Log out", destroy_dj_session_path, method: :delete %>
    <% else %>
      <%= link_to "Log in", new_dj_session_path %>
    <% end %>
  </nav>
  
  
  <div class="nav-container" data-turbolinks-permanent>
    
    <div class="left social-media-container">
      <ul class="social-media-icons">
        <li>
          <a href="https://www.facebook.com/wcbn88.3fm/">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/WCBN_FM">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/wcbn_fm/">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
    
  
    
    <nav id="primary-nav">
      
      <span class="vertical-align-helper"></span>
      <!-- <a href="<%=root_path(anchor: 'now')%>"> -->
      <img href="<%=root_path(anchor: 'now')%>" id ="primary-nav-logo" src="http://localhost:4000/assets/wcbn-f1c99da4918b1db33f0dde597815d768295eba27e67be4e8fc7d4304e8a07bb8.png" />
      <!-- </a> -->
      
      <ul id="primary-nav-links">
        <a href="https://www.wcbn.org/about"><li>About</li></a>
        <a href="https://www.wcbn.org/events"><li>Events</li></a>
        <a href="https://www.wcbn.org/content/contact"><li>Contact</li></a>
        <a href="<%=semester_path(Semester.current) %>"><li>Schedule</li></a>
        <a href="<%=root_path(anchor: 'now')%>"><li>Playlist</li></a>
        <a href="https://friends.umich.edu/site/Ecommerce?store_id=2241"><li>Donate</li></a>
      </ul>
      
    </nav>
    
    
    <div id="player-app">
      <% unless on_fm_computer? %>
        <%= javascript_pack_tag 'player' %>
      <% end %>
    </div>
    
  </div>
    
</header>



<!-- <%= yield %> -->



<% if Rails.env.production? %>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-79717422-1', 'auto');
ga('send', 'pageview', 'app/'+window.location.pathname);

</script>
<% end %>
</body>
</html>
